<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Insert vue pkg-->
    <script src = "https://unpkg.com/vue@3.0.2"></script>
    <title>Vue JS Demonstration Discussion</title>
</head>
<body>
    <!--create a div-->
    <div id="app">
        <!--events on vue using v-on-->
        <div id="app">
             <!-- Events on Vue using v-on -->
            <p>{{ title }} {{ author }} {{ age }}</p> 
            <button v-on:click="age++">Get Older</button>
            <button v-on:click="age--">Get Younger</button>
            <button @click="title = 'The title has changed.'">Change Title</button>
        </div>
            <!-- this won't be controlled by Vue -->
            {{ age }}
    </div>

    <!--Two-way-data-binding-->
    <div id="two-way-binding">
        <p>{{ message }}</p>
        <input v-model="message"/>
    </div>
    <!--using v-if-->
    <div id="conditional-rendering">
        <span v-if="seen">Now you see me</span>
    </div>
    <!--this is hooked up to a method in the books.js-->

    <!-- this is hooked up to a method in the books.js -->
    <div id="books">
        <div v-if="showBooks">
            <p>{{ btitle }} {{ bauthor }} {{ year }}</p>
        </div>
            <button @click="toggleShowBooks">
                <span v-if="showBooks">Hide Books</span>
                <span v-else>Show Books</span>
            </button>
    </div>

    <!-- using v-for directive --> 
    <div id="list-rendering">
     <ol>
        <li v-for="todo in todos"> 
            {{todo.text }}
        </li>
     </ol>
    </div>
    <!-- link to listfor.js -->
    <script src="listfor.js"></script>

        <!--link to condotionalif.js-->

        <script src="scripts/app.js"></script>
        <script src="scripts/two-way.js"></script>
        <script src="scripts/conditionalif.js"></script>
        <script src="scripts/book.js"></script>
        <script src="scripts/listfor.js"></script>
</body>
</html>